@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="row">
    <div class="col-md-12 text-justify">  <!--12/12 In Size -->
        <h3>What LookItUp allows you to do?</h3>
        <p>
            LookItUp is a new way for the people to check Irish business details. 
            They can do this by searching for and selecting for the desired business.
            If a user has an account then they can add new businesses and edit details of existing businesses.
        </p>
    </div>
</div>