@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<div class="row">
    <div class="col-md-12 text-justify">  <!--12/12 In Size -->
        <h3>Who is behind LookItUp?</h3>
        <p>
            LookItUp was created by one person as part of a final year college project in the Institute of Technology Tallaght Dublin.
        </p>
        <h3>What LookItUp allows you to do?</h3>
        <p>
            Welcome to LookItUp, the online application that allows users to search for Irish businesses and share their veiws and opinions. 
            LookItUp is crowdsourced, which means the LookItUp community can keep business details up to date. 
            This means information can easily be updated as changes happen, resulting in a quick and convienaint way for people to share details about their favourite businesses.
        </p>
        <h3>What can you do?</h3>
        <p>
            In order to ensure that the application functions as efficiently as possible, we would encourage all users to create an account.
            You can begin to add new businesses, update businesses that others have entered and review businessess that you have dealt with.
            By collectively doing this, the application is made more useful and reliable for the users.
        </p>
        
        <h3>A message to the users.</h3>
        <p>
            It takes time and effort to keep crowdsourced applications up to date and as a result LookItUp would like to thank everyone who helps by contributing their time.
            Without active users the applciation would not work and in return for your time and effort, we will try our best to improve the performance of the application over time.
        </p>
    </div>
</div>