@{
    ViewBag.Title = "Contact Us";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
<div class="row">
    <!--LEFT SIDE-->
    <div class="col-md-6 text-center">
        <!-- Do not change the code! -->
        <a id="foxyform_embed_link_547664" href="http://www.foxyform.com/"></a>
        <script type="text/javascript">
            (function (d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                g.src = "http://www.foxyform.com/js.php?id=547664&sec_hash=2e6179e1db5&width=350px";
                s.parentNode.insertBefore(g, s);
            }(document, "script"));
        </script>
        <!-- Do not change the code! -->
    </div>

    <!--RIGHT SIDE-->
    <div class="col-md-6 text-justify">
        <p>
            Send us an email if you have any questions or suggestions about how the site could be improved. 
            Any bugs you spot can also be mentioned here and then we can work to improve the stability of the overall application. 
        </p>
    </div>
</div>

