@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               Browse Irish businesseses as a guest or sign in to add business details.
            </p>
        </div>
    </section>
}
<h3>Featured Businesses:</h3>
<ol class="round">
    <li class="one">
        <h5>Business Details will be listed in this section</h5>
    </li>
</ol>
