@import url("./bootstrap.min.css");
@import url("./bootstrap-theme.css");

footer{
	border-top: 1px dashed #CCCCCC;
	margin: 40px 0px;
	padding: 20px 0px;
}


html { 
    background-image:url('/Images/background.jpg');
    margin: 10em;
    margin-top: 9em;
}

body { 
	background: White; 
    padding: 1em;
}

/*Nav-bar*/
.nav>li>a {
    padding: 25px 35px;
    font-size: large;
}
.nav>li>a:hover {
    padding: 25px 35px;
    color: #F7A116;
}

.navbar-default {
    background-image: url('/Images/navbarBackground.jpg');
    background-color: none;
    box-shadow: 2px 2px 1px #eeecec;
}

.navbar-default .navbar-nav>li>a {
    color: #C9B069;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #FFBC03;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #FFBC03;
    text-decoration: underline;
    /*Override to remove css in bootstrap*/
    background-image: none;
    background-color: transparent;
    box-shadow: none;
}


header {
    float: right;
} 


.modal { 
	text-align: left; 
}

.text-justify{
	text-align: justify;
	font-size: 1.2em;
}

.login-navbar{
    float: right;
    font-size: medium;
}

#login{
    color: #C9B069;
}
/*Create Page*/
.requiredField {
    font-size: 1em;
    color: red;
    float: right;
}

.float-right{
    float: right;
}

/*Google Maps*/

#map_canvas { 
    height: 350px;
}

.smallImg
{
  width:90px;
  height:90px;
}

/*Image Gallery*/
.image-gallery{
  width:480px;
  height:470px;
  background-color:#eeecec;
  padding:5px;
  border-radius:20px;
  border:solid 1px #000000;
}
.image-gallery .big-image{
  width:350px;
  height:350px;
  margin:0 auto;
  background-color:white; 
  box-shadow: 10px 10px 5px #888888;
}
.image-gallery .big-image img
{
    width:350px;
    height:350px;
    display:none;
    margin:0 auto;
}
/*Selected image display*/
.image-gallery .big-image img:target{display:block;}
/*on select image dusplay none the default image*/
.image-gallery .big-image img:target ~ img#default{display:none;}
/*Shoe Default Image in first load*/
.image-gallery .big-image img#default{display:block;}

.image-gallery ul{margin-top:15px;}
.image-gallery li{float:left;
  background-color:rgba(255,255,255,0.5);margin-right:3px;}
.image-gallery li:hover{
  background-color:rgba(255,255,255,0.8);
}


/*other styles*/
.title{font-size:20px;font-weight:bold;color:#000000;text-align:center;margin-bottom:15px;}
.by{clear:both;display:block;font-size:12px;text-align:right;color:#633317;padding-top:5px;}
.example2{font-size:16px; color:red; font-weight:bold;}
/*reset CSS*/
*{font-family:arial;}
ul,li{list-style:none;margin:0;padding:0;}